@if (movieDetails) {
<article>
  <h3>{{ movieDetails.title }} ({{ movieDetails.releaseDate }})</h3>
  <h4>Réalisateur : {{ movieDetails.director }}</h4>
  <p>
    {{ movieDetails.description }}
  </p>
  @if (!isFavourite) {
  <button (click)="addToFavourite()">Add to favourites</button>
  } @else { Ce film est dans vos favoris }
  <img [src]="movieDetails.poster" alt="Poster de {{ movieDetails.title }}" />
</article>
}
